*{margin: 0; padding: 0; box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
ul,ol{list-style:none;}
a{color: inherit; text-decoration: none;}
input{font: inherit;}


body{
    font-size: 12px;
    line-height: 1.5;
}

/* layout */
.page{
    display: flex;
    height: 100vh;
}
.page > aside{
    width: 300px;
    border: 1px solid red;
}

/* aside */
.page > aside{
    display: flex;
    flex-direction: column;
}
.newSong{
    text-align: center;
    padding: 10px;
}
.newSong.active{
    background: #D4D4D4
}
.songList{
    text-align: left;
    border-top: 1px solid #999;
    flex-grow: 1;
    border: 1px solid red;
}
.songList-wrapper{
    margin: 0 0 20px 0;
}
.songList-wrapper .active{
    background: #D4D4D4;
}
.songList-wrapper > li{
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    cursor: pointer;
}
.uploadArea{
    
}
.draggable{
    width: 300px;
    height: 200px;
}
.pickfiles{
    border: 1px dashed black;
    border-radius: 10px;
    width: 300px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* main */
.page > main{
    flex-grow: 1;
    border: 1px solid green;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #d4d4d4;
}
.form{
    font-size: 14px;
}
.form > .row{
    margin: 10px 0;
    display: flex;
}
.form > .row.actions{
    margin-left: calc(4em + 5px);
}
.form > .row > label{
    width: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}
.form input[type=button],
.form input[type=submit],
.form button{
    height: 30px;
    cursor: pointer;
}
